.form-submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-cancel-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}