body {
    font-family: Montserrat, sans-serif;;
}

label {
    display: none !important;
}

.input-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.input{
    display: flex;
    flex-direction: column;
    border-radius: 15px !important;
    width: 100%;
    min-height: 40px;
}

.carwash-adding {
    display: block;
    box-sizing: border-box;
    padding: 40px 80px;
    margin: auto;

    border-radius: 15px;
}

.carwash-adding-content2 {
    display: block;
    box-sizing: border-box;
    width: 700px;
    padding: 40px 80px;
    margin: auto;

    border-radius: 15px;
    
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, .15);
}

.adding-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 19px;

    border: 1px solid #000;
    border-radius: 30px;

    font-size: 16px;
    text-decoration: none;
}

.adding-button:hover {
    border: 1px solid #B30006;
    color: #B30006;
}

.form-submit-button {
    margin: auto;
    border-radius: 30px;
    width: 400px;
    align-items: center;
    height: 48px;

    border: none;
    background-color: #000;
    color: #fff;

    font-size: 16px;
    font-weight: 500;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-submit-button:hover {
    border: none;
    outline: 1px solid #B30006;
    color: #B30006 !important;
    font-weight: 400;
}

.form-submit-button:disabled:hover {
    border: none;
    outline: none;
    color: #323232;
}

.form-cancel-button {
    margin: auto;
    border-radius: 30px;
    width: 400px;
    align-items: center;
    height: 48px;

    border: 1px solid #000 !important;
    font-size: 16px;
}

.form-cancel-button:hover {
    border: none !important;
    outline: 1px solid #B30006;
    color: #B30006 !important;
    font-weight: 400;
}
