.header {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}

.header-logo {
    display: block;
    width: 155px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    transition: linear .1s;
}

.header-logo:hover {
    color: #B30006;
}

.header-title {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;

    color: #000;
    transition: linear .1s;
}

.header-title:hover {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;

    color: #B30006;
}

.header-button {
    padding: 8px 19px;

    border: 1px solid #000;
    border-radius: 30px;

    font-size: 16px;
    text-decoration: none;

    color: #000;

    transition: linear .1s;
}

.header-button:hover {
    border: 1px solid #B30006;
    color: #B30006;
}