.header {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1200px;
}

.header-title {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;

    color: #000;
    transition: linear .1s;
}

.header-title:hover {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;

    color: #B30006;
}

.header-button-active {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    color: #000 !important;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, .15);
}

.header-button:hover {
    border: 1px solid #B30006 !important;
    color: #B30006;
}

.header-button-red:hover {
    background-color: #B30006;
    border: 1px solid #B30006 !important;
    color: #fff;
}

.header-logo:hover {
    color: #B30006;
}

@media (min-width: 1200px){
    .header-logo {
        display: block;
        width: 155px;
        font-weight: 700;
        font-size: 24px;
        text-decoration: none;
        line-height: 29.26px;
        color: #000;
        transition: linear .1s;
    }

    .header-logo:hover {
        color: #B30006;
    }

    .header-buttons {
        display: flex;
        gap: 30px;
    }

    .header-button {
        padding: 8px 19px;
    
        border: 1px solid #000;
        border-radius: 30px;
    
        font-size: 16px;
        text-decoration: none;
    
        color: #000;
    
        transition: linear .1s;
    }

    .header-button-red {
        background-color: #ED1D24;
        border: 1px solid #ED1D24;
        color: #fff;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    .header-logo {
        display: block;
        width: 155px;
        font-weight: 700;
        font-size: 30px;
        text-decoration: none;
        line-height: 29.26px;
        color: #000;
        transition: linear .1s;
    }

    .header-buttons {
        display: flex;
        gap: 20px;
    }

    .header-button {
        padding: 8px 19px;
    
        border: 1px solid #000;
        border-radius: 30px;
    
        font-size: 20px;
        text-decoration: none;
    
        color: #000;
    
        transition: linear .1s;
    }

    .header-button-red {
        background-color: #ED1D24;
        border: 1px solid #ED1D24 !important;
        color: #fff !important;
    }
}

@media (max-width: 799px) {
    .header-logo {
        display: block;
        width: 155px;
        font-weight: 700;
        font-size: 2em;
        text-decoration: none;
        line-height: 29.26px;
        color: #000;
        transition: linear .1s;
        }

        .header-button {
            padding: 8px 19px;
        
            border: 1px solid #000;
            border-radius: 30px;
        
            font-size: 1.1em;
            text-decoration: none;
        
            color: #000;
        
            transition: linear .1s;
        }

    .header-button-red {
        display: none;
    }
}