.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Распределение карточек равномерно по ширине контейнера */
}

.card-list > .card {
    //flex: 0 0 calc(33.333% - 20px); /* 33.333% ширины контейнера для трех карточек в ряду, вычитаем отступы */
    //margin: 10px; /* Отступы вокруг карточек */
}