.header-wrapper {
    //z-index: 2;
    //box-shadow: 0px 4px 8px 0px rgba(57, 113, 164, 0.25);
    background: rgb(255, 255, 255);

    width: 100%;
    position: fixed;
}

.header {
    margin: 0 auto;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.header-logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    color: #000;
}

.header-buttons {
    display: flex;
    gap: 30px;
}

.header-button-red {
    background-color: #ED1D24;
    border: 1px solid #ED1D24 !important;
    color: #fff !important;
}

.header-button-red:hover {
    background-color: #B30006;
    border: 1px solid #B30006 !important;
    color: #fff !important;
}