.card-list {
    display: flex;
    flex-wrap: wrap; /* Распределение карточек равномерно по ширине контейнера */
    padding-top: 50px;
    gap: 20px;
}

.card-list > .card {
    //flex: 0 0 calc(33.333% - 20px); /* 33.333% ширины контейнера для трех карточек в ряду, вычитаем отступы */
    //margin: 10px; /* Отступы вокруг карточек */
}

.carwash-title  {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

.card {
    width: 386px;
    border-radius: 15px;
}

.card:hover {
    border: 1px solid #B30006;
    cursor: pointer;
}

.carwash-info {
    margin-bottom: 5px; 
}