* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif !important;
}

body {
    overflow-x: hidden;
}

.ux {
    display: block;
    height: 100vh;
    text-align: center;

    background-image: url('./images/backgroundPageNotFound.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

.ux-title {
    margin-top: 25vh;
    font-size: 2.5em
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');