@media (min-width: 740px) {
    .homepage-content {
        display: flex;
        flex-direction: column;
    }
    
    .main-wrapper {
        max-width: 1200px;
        margin: auto;
        height: 100vh;
        gap: 100px
    }
    
    .upper-main {
        margin-top: 23%;
        margin-bottom: 13%;
    }
    
    .upper-main > img {
        width: 561.94px;
        height: auto;
    }
    
    .main-text {
        display: grid;
    }
    
    .upper-main-text > h1 {
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        line-height: 43.88px;
    
        margin-left: 20px;
    }
}

@media (max-width: 739px) {
    .main-image {
        width: 1px;
    }
}